VoiceFlow/googleDriveToVoiceFlowKB.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    let fileName = item.binary.data.fileName || 'unnamed';\n\n    if (!fileName.toLowerCase().endsWith('.docx')) {\n      fileName += '.docx';\n    }\n\n    item.binary.data.fileName = fileName;\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "628521de-9eaf-400f-aa02-744f51dfc8d0",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='your-google-drive-folder-id' in parents and trashed = false",
        "filter": {},
        "options": {
          "fields": "={{ [\"id\", \"modifiedTime\",\"name\", \"mimeType\", \"webViewLink\"] }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        20,
        0
      ],
      "id": "9c78555a-4801-4ff9-8956-f7238599d06c",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "your-credentials-id",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.voiceflow.com/v1/knowledge-base/docs/upload?overwrite=true&maxChunkSize=1000",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Your_VoiceFlow_API_Key"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        0
      ],
      "id": "6db7ce00-c8de-4451-86b5-ee3e19ba7958",
      "name": "Upload File To VF"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "89a8599d-719e-4865-9678-c313118fe45c",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "your-credentials-id",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        0
      ],
      "id": "9a7a0ff5-f1f7-40d1-8bc7-03f3b50734b4",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Upload File To VF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6378abd15bc55e548acaea29456ee0e3bfcb82e55956a59784baad15b99a2af"
  }
}